# Created by .ignore support plugin (hsz.mobi)

.idea/*
*.iml
out
gen
workspace.xml
usage.statistics.xml
tasks.xml
.DS_Store

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/